<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Dizzy Driver</title>
    <!--
      <link
        rel="stylesheet"
        href="{{ url_for('static',filename='style.css') }}"
      />
    -->
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div id="nav">
      <img src="../static/taxi.svg" alt="logo" id="logo" />
      <h1>Dizzy Driver</h1>
    </div>
    <div id="container">
      <img src="../static/taxi-driver.svg" alt="Driver Image" id="driver" />
      <video autoplay="true" id="videoElement"></video>
    </div>
    <div id="result">
      Result
      <p id="res"></p>
    </div>
    <div></div>
    <button onclick="getVideo()" id="btnv">video</button>
    <button onclick="takePhoto()" id="btni">image</button> <canvas></canvas>
    <button onclick="predict()" id="btnp">predict</button>
    <p id="or">OR</p>
    <input type="file" name="file" id="file" />
    <script src="../static/jquery-3.3.1.min.js"></script>
    <!--
      <script src="{{ url_for('static',filename='jquery-3.3.1.min.js') }}"></script>
    -->
    <script>
      var cont = document.getElementById("container");
      var video = document.querySelector("#videoElement");
      var img = document.getElementById("driver");
      var hidden_canvas = document.querySelector("canvas");
      let imageCapture, imageStream;
      var width, height, context, imageDataURL;

      let getVideo = () => {
        if (navigator.mediaDevices.getUserMedia) {
          navigator.mediaDevices
            .getUserMedia({ video: true })
            .then(function(stream) {
              video.srcObject = stream;
              img.style.display = "none";
              video.style.display = "inline";
              imageStream = stream;
              let mediaStreamTrack = stream.getVideoTracks()[0];
              imageCapture = new ImageCapture(mediaStreamTrack);
            })
            .catch(function(err0r) {
              console.log("Something went wrong!");
            });
        }
      };

      let takePhoto = () => {
        console.log("photo");

        width = video.videoWidth;
        height = video.videoHeight;
        context = hidden_canvas.getContext("2d");

        hidden_canvas.width = width;
        hidden_canvas.height = height;

        context.drawImage(video, 0, 0, width, height);

        imageDataURL = hidden_canvas.toDataURL("image/png");

        img.setAttribute("src", imageDataURL);
        img.style.display = "inline";
        video.style.display = "none";
      };

      let predict = () => {
        // var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $.ajax({
          type: "POST",
          url: $SCRIPT_ROOT + "/predict/",
          data: imageDataURL,
          success: function(data) {
            $("#res").text(" Predicted Output: " + data);
          }
        });
      };
    </script>
  </body>
</html>
